<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <p class="slds-text-heading--label">salesforce.com</p>
      <div class="slds-grid">
        <div class="slds-grid slds-type-focus slds-no-space">
          <h1 class="slds-page-header__title slds-truncate" title="Lightning Design System Apps">Lightning Design System Apps</h1>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-align-bottom">
      <div class="slds-grid">
        <!-- Home -->
        <div class="slds-button-group" id="homeIcon" role="group">
          <button class="slds-button slds-button--icon-border slds-not-selected">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="./lib/SLDS/assets/icons/utility-sprite/svg/symbols.svg#home"></use>
            </svg>
            <span class="slds-assistive-text">Home</span>
          </button>
        </div>
        <!-- Logout -->
        <div class="slds-button-group" id="logoutIcon" role="group">
          <button class="slds-button slds-button--icon-border slds-not-selected">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="./lib/SLDS/assets/icons/utility-sprite/svg/symbols.svg#logout"></use>
            </svg>
            <span class="slds-assistive-text">Logout</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="slds-text-body--small slds-page-header__info"></p>
</div>